SR03-TestClientCategorie/WebContent/wsdl/WebServiceCategorie.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://WebService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://WebService" xmlns:intf="http://WebService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://WebService" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getCategories">
    <complexType/>
   </element>
   <element name="getCategoriesResponse">
    <complexType>
     <sequence>
      <element name="getCategoriesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCategorie">
    <complexType>
     <sequence>
      <element name="categorie_id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCategorieResponse">
    <complexType>
     <sequence>
      <element name="getCategorieReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="delCategorie">
    <complexType>
     <sequence>
      <element name="categorie_id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="delCategorieResponse">
    <complexType>
     <sequence>
      <element name="delCategorieReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="newCategorie">
    <complexType>
     <sequence>
      <element name="nom" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="newCategorieResponse">
    <complexType>
     <sequence>
      <element name="newCategorieReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="modifyCategorie">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
      <element name="nom" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="modifyCategorieResponse">
    <complexType>
     <sequence>
      <element name="modifyCategorieReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getCategorieResponse">

      <wsdl:part element="impl:getCategorieResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="delCategorieRequest">

      <wsdl:part element="impl:delCategorie" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modifyCategorieRequest">

      <wsdl:part element="impl:modifyCategorie" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="newCategorieRequest">

      <wsdl:part element="impl:newCategorie" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCategoriesResponse">

      <wsdl:part element="impl:getCategoriesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="newCategorieResponse">

      <wsdl:part element="impl:newCategorieResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCategoriesRequest">

      <wsdl:part element="impl:getCategories" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="delCategorieResponse">

      <wsdl:part element="impl:delCategorieResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCategorieRequest">

      <wsdl:part element="impl:getCategorie" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modifyCategorieResponse">

      <wsdl:part element="impl:modifyCategorieResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WebServiceCategorie">

      <wsdl:operation name="getCategories">

         <wsdl:input message="impl:getCategoriesRequest" name="getCategoriesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCategoriesResponse" name="getCategoriesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCategorie">

         <wsdl:input message="impl:getCategorieRequest" name="getCategorieRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCategorieResponse" name="getCategorieResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="delCategorie">

         <wsdl:input message="impl:delCategorieRequest" name="delCategorieRequest">

       </wsdl:input>

         <wsdl:output message="impl:delCategorieResponse" name="delCategorieResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="newCategorie">

         <wsdl:input message="impl:newCategorieRequest" name="newCategorieRequest">

       </wsdl:input>

         <wsdl:output message="impl:newCategorieResponse" name="newCategorieResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modifyCategorie">

         <wsdl:input message="impl:modifyCategorieRequest" name="modifyCategorieRequest">

       </wsdl:input>

         <wsdl:output message="impl:modifyCategorieResponse" name="modifyCategorieResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WebServiceCategorieSoapBinding" type="impl:WebServiceCategorie">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getCategories">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCategoriesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCategoriesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCategorie">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCategorieRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCategorieResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="delCategorie">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="delCategorieRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="delCategorieResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="newCategorie">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="newCategorieRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="newCategorieResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modifyCategorie">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modifyCategorieRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="modifyCategorieResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WebServiceCategorieService">

      <wsdl:port binding="impl:WebServiceCategorieSoapBinding" name="WebServiceCategorie">

         <wsdlsoap:address location="http://localhost:8080/SR03-WebServiceServer/services/WebServiceCategorie"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
