SR03-WebServiceServer/WebContent/wsdl/WebServiceCategorie.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://WebService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://WebService" xmlns:intf="http://WebService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://WebService" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getCategoriesReturn" type="xsd:string"/>
   <element name="id" type="xsd:int"/>
   <element name="nom" type="xsd:string"/>
   <element name="modifyCategorieReturn" type="xsd:boolean"/>
   <element name="categorie_id" type="xsd:int"/>
   <element name="getCategorieReturn" type="xsd:string"/>
   <element name="categorie_id1" type="xsd:int"/>
   <element name="delCategorieReturn" type="xsd:boolean"/>
   <element name="nom1" type="xsd:string"/>
   <element name="newCategorieReturn" type="xsd:string"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="getCategorieResponse">

      <wsdl:part element="impl:getCategorieReturn" name="getCategorieReturn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modifyCategorieRequest">

      <wsdl:part element="impl:id" name="id">

      </wsdl:part>

      <wsdl:part element="impl:nom" name="nom">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="delCategorieRequest">

      <wsdl:part element="impl:categorie_id1" name="categorie_id">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="newCategorieRequest">

      <wsdl:part element="impl:nom1" name="nom">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCategoriesResponse">

      <wsdl:part element="impl:getCategoriesReturn" name="getCategoriesReturn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="newCategorieResponse">

      <wsdl:part element="impl:newCategorieReturn" name="newCategorieReturn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCategoriesRequest">

   </wsdl:message>

   <wsdl:message name="delCategorieResponse">

      <wsdl:part element="impl:delCategorieReturn" name="delCategorieReturn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCategorieRequest">

      <wsdl:part element="impl:categorie_id" name="categorie_id">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modifyCategorieResponse">

      <wsdl:part element="impl:modifyCategorieReturn" name="modifyCategorieReturn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WebServiceCategorie">

      <wsdl:operation name="getCategories">

         <wsdl:input message="impl:getCategoriesRequest" name="getCategoriesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCategoriesResponse" name="getCategoriesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modifyCategorie" parameterOrder="id nom">

         <wsdl:input message="impl:modifyCategorieRequest" name="modifyCategorieRequest">

       </wsdl:input>

         <wsdl:output message="impl:modifyCategorieResponse" name="modifyCategorieResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCategorie" parameterOrder="categorie_id">

         <wsdl:input message="impl:getCategorieRequest" name="getCategorieRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCategorieResponse" name="getCategorieResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="delCategorie" parameterOrder="categorie_id">

         <wsdl:input message="impl:delCategorieRequest" name="delCategorieRequest">

       </wsdl:input>

         <wsdl:output message="impl:delCategorieResponse" name="delCategorieResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="newCategorie" parameterOrder="nom">

         <wsdl:input message="impl:newCategorieRequest" name="newCategorieRequest">

       </wsdl:input>

         <wsdl:output message="impl:newCategorieResponse" name="newCategorieResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WebServiceCategorieSoapBinding" type="impl:WebServiceCategorie">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getCategories">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCategoriesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCategoriesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modifyCategorie">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modifyCategorieRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="modifyCategorieResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCategorie">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCategorieRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCategorieResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="delCategorie">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="delCategorieRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="delCategorieResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="newCategorie">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="newCategorieRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="newCategorieResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WebServiceCategorieService">

      <wsdl:port binding="impl:WebServiceCategorieSoapBinding" name="WebServiceCategorie">

         <wsdlsoap:address location="http://localhost:8080/SR03-WebServiceServer/services/WebServiceCategorie"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
